@page
@functions
{
    public string? DayName { get; set; }

    public void OnGet()
    {
        ViewData["Title"] = "Main Page Index.cshtml";
        DayName = DateTime.Now.ToString("dddd");
    }
}

<h3>
    @Model.DayName! is a wonderful day to thank God!
</h3>

<p>
    <a class="btn btn-primary" href="suppliers">Learn more about our suppliers</a>
</p>
<p>
    <a class="btn btn-primary" href="customers">Customers</a>
</p>

<p>
    <a class="btn btn-primary" href="packtfeatures/employees">Employees</a>
</p>


